* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #f5f7fa;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
  
  .main-wrapper {
    position: relative;
    background: #ffffff;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
  }
  
  /*Aside styles*/
  
  .my-photo{
    border-radius: 50%;
    padding: 1em;
    width: 100%;
    display: block;
  }
  
  .contacts-container {
    margin: 60px 40px 0 30px;
  }
  
  .contacts-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
    padding-left: 10px;
  }
  
  .contacts-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
  }
  
  .contacts-link svg{
    fill: white;
    margin-right: 10px;
  }
  
  .contact-list li a:hover, .contact-list li a:focus{
    color: #ff6b08;
    fill:#ff6b08;
  }
  
  .contact-list li a svg:hover, .contact-list li a svg:focus{
    fill: #ff6b08;
  }
  
  .contact-list{
    padding-left: 15px;
    list-style-type: none;
    padding: 0;
  }
  
  
  .skills-container {
    margin: 55px 40px 0 40px;
  }
  
  .skills-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .skills-list li {
    margin-left: 15px;
    color: #ff6b08;
  }
  
  .skills-list li span {
    color: #e2e4e6;
  }
  
  .about-me-container {
    background-color: lightgrey;
    padding: 110px 90px;
  }
  
  /*Main details*/
  
  .profession {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 23px;
  }
  
  .name {
    font-size: 45px;
    font-weight: 700;
    line-height: 89px;
  }
  
  .description {
    margin-top: 24px;
  }
  
  .about-me-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
  }
  
  .projects-link {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
  }
  
  .projects-link:hover, .projects-link:focus{
    color: #ff6b08;
  }
  
  .tech-name {
    color: white;
  }
  
  #project-experience ul{
    list-style: none;
    display: flex;
  }
  
  .project-example-list:nth-child(2n){
    margin-right: 0;
  }
  
  .project-name {
    color: #ff7920;
    font-weight: bold;
  }
  
  /* .project-example-list{
    width: calc((100% - 24px) / 2);
    margin-right: 20px;
    border: 1px solid #1e2939;
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
  } */
  
  
  .project-example-container{
    position: relative;
  }
  
  .project-text{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    background-color: rgba(30, 41, 57, 0.95);
  }
  
  
  .project-img{
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  .board {
    width: 100%;
    padding: 5px;
    background-color: #eeeeee;
    border-radius: 15px;
    box-shadow: rgba(79, 79, 79, 1) 0 0 8px;
    perspective: 1000px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .card {
    cursor: pointer;
    margin: 5px;
    width: calc((100% - 30px) / 3);
    /* height: 100%; */
  }
  .card img {
  
    border: 2px solid #524f4e;
    border-radius: 10px;
    object-fit: contain;
    background-size: cover;
    width: -webkit-fill-available;
  }
  
  /* .front {
    height: 100%;
    transform: rotateY(-180deg);
  } */
  
  /* card */
  /* .card{
    width: 100%;
    height: 100%;
    transform: scale(1);
    position: relative;
    transition: transform 0.6s;
    
    transform-style: preserve-3d;
    cursor: pointer;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-size: cover;
    border: 2px solid #524f4e;
    border-radius: 10px;
  }
  
  .card.flip{
    transform: rotateY(-180deg);
  }
  
  .front, .back {
    height: 100%;
    width: 100%;
    position: absolute;
    
    border-radius: inherit;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: 1s;
  }
  
  .back {
    z-index: 2;
    transform: rotateY(0deg);
  }
  
  .front {
    transform: rotateY(-180deg);
  }
  .board.blocked::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 100000;
  }
  
  .card.opened .front {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } */
  
  section {
    margin-bottom: 55px;
  }
  
  .kata-link {
    text-decoration: none;
    color: black;
  }
  
  .kata-link:hover, .kata-link:focus{
    color: #ff6b08;
  }
  
  .hljs {
    /* border: 1px solid #1e2939; */
    border-radius: 15px;
    box-shadow: rgba(79, 79, 79, 1) 0 0 8px;
  }
  
  .profession-title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  
    margin: 8px 0 15px 0;
  }
  
  .profession-company {
    color: #ff7920;
  }
  
  .profession-time {
    color: #a8a8a8;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 15px;
  }
  
  .divider {
    color: black;
  }
  
  .additional-education-details-container {
    margin-bottom: 15px;
  }
  
  .education {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
  
    margin: 55px 0 20px 0;
  }
  
  .education-place {
    color: #ff6b08;
    margin-bottom: 15px;
  }
  
  .specialization {
    margin-bottom: 15px;
  }
  
  /*Footer*/
  
  footer{
    position: absolute;
    left: 0;
    bottom:0;
    width: 100%;
  
    padding-left: 55px;
    padding-right: 55px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .github-logo{
    fill:white;
  }
  
  .github-link:hover svg, .github-link:focus svg{
    fill: #ff6b08;
  }
  
  
  /*Styles for desktop*/
  
  @media screen and (min-width:1200px){
    .wrapper{
      display: none;
    }
    .tech-skills-tablet-container{
      display: none;
    }
  
    .sidebar {
      background: #1e2939;
      min-width: 370px;
      padding: 40px 0 40px 0;
    }
  }
  
  /*Styles for tablet*/
  
  @media screen and (min-width: 768px) and (max-width: 1199px){
  
    .wrapper{
      display: none;
    }
  
    .tech-skills-tablet-container{
      display: none;
    }
  
    .sidebar {
      background: #1e2939;
      min-width: 300px;
      padding: 40px 0 40px 0;
    }
  
    .name{
      font-size: 30px;
      font-weight: 700;
      line-height: 66px;
    }
    .about-me-container {
      padding: 70px 50px;
    }
  
    .code{
      width: 100%;
    }
  
  
  }
  
  /*Styles for phone*/
  
  @media screen and (min-width: 320px) and (max-width: 440px){
    .code{
      max-width: 220px;
      border: 1px solid green;
    }
  
    .header-body{
      height: 50px;
    }
    #project-experience ul{
      display: block;
    }
    .project-example-list{
      width: 100%;
    }
  
    .project-example-list:first-of-type{
      margin-bottom: 10px;
    }
  
    .about-me-title{
      margin-bottom: 15px;
    }
  
  }
  
  
  @media screen and (max-width: 767px){
    .sidebar{
      display: none;
    }
  
    .code{
      width: 100%;
    }
    
  
    .about-me-title{
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      margin-bottom: 15px;
    }
  
    .skills-title, .contacts-title{
      font-size: 18px;
      font-weight: 700;
      line-height: 24px;
      color: #ffffff;
      margin-bottom: 10px;
    }
  
    .name{
      font-size: 24px;
      font-weight: 700;
      line-height: 36px;
      margin-bottom: 10px;
    }
    
    section{
      margin-bottom: 40px;
    }
  
    .about-me-container {
      padding: 90px 30px 60px 30px;
    }
  
    .container{
      max-width: 767px;
      margin: 0 auto;
      padding: 0 25px;
    }
  
    .header{
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 50;
    }
    
    .header::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #1e2939;
      z-index: 2;
    }
    
    .header-body{
      position: relative;
      display: flex;
      justify-content: space-between;
      height: 60px;
      align-items: center;
    }
    
    .header-logo{
      flex: 0 0 40px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      z-index: 3;
    }
    
    .header-logo img{
      max-width: 100%;
      display: block;
    }
    
    .header-list{
      display: block;
      position: relative;
    }
    
    .header-list li{
      color: #ff6b08;
      margin: 0 0 10px 0;
    }
    
    .header-link{
      color: #ffffff;
      font-size: 16px;
      text-decoration: none;
    }
  
  
    body.lock{
      overflow: hidden;
    }
  
    .header-menu{
      position: fixed;
      top:-100%;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #1e2939;
      padding: 90px 10px 20px 85px;
      transition: all 0.3s ease 0s;
      overflow: auto;
    }
  
    .header-menu.active{
      top: 0;
    }
  
    .header-burger{
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      z-index: 3;
    }
  
    .header-burger span{
      position: absolute;
      background-color: white;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
    }
  
    .header-burger::before, .header-burger::after{
      content: '';
      background-color:white;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
    }
  
    .header-burger::before{
      top: 0;
    }
  
    .header-burger::after{
      bottom: 0;
    }
  
    .header-burger.active::before{
      transform: rotate(45deg);
      top: 9px;
    }
  
    .header-burger.active::after{
      transform: rotate(-45deg);
      bottom: 9px;
    }
  
    .header-burger.active span{
      transform: scale(0);
    }
  
    .skills-list li span{
      color: black;
    }
  
    .contact-list{
      padding: 0;
    }
  
    .contact-list li a{
      color: black;
      display: block;
    }
  
    .contact-list li a:hover, .contact-list li a:focus{
      color: #ff6b08;
    }
  
    .contact-list li a span:hover, .contact-list li a span:focus{
      fill: #ff6b08;
    }
  
  
    .contacts-link svg{
      fill: #ff6b08;
      margin-right: 8px;
    }
  
    footer{
      background-color: #1e2939;
      color: white;
      padding-left: 25px;
      padding-right: 25px;
      align-items: center;
    }
  }
  